body {
        padding-top: 50px;
}

.container {
        max-width:1000px;
}

.jumbotron {
        text-align: center;
}

.glyphicon {
        font-size: 3em;
        display: block;
        margin: auto;
        color: #3a87ad;
        text-align: center;
}

.carousel-indicators {
        bottom: 0;
}

.carousel-indicators .active {
        background-color: #222;
}

.carousel-indicators .li {
        background-color: #222;
}
